<br><br><br>
<div class="container" style="background: white">  <div class="col-md-12 col-sm-6 col-xs-12">
    <div class="panel panel-default" >
      <div class="panel-heading"style="background: #337AB7;text-align: center;font-size: 18px;color: white" >Ajouter une personne</div>
      <div class="panel-body" >
        <form #f="ngForm" (ngSubmit)="onSavePersonne(f.value)"  >
          <div class="form-group">
            <label class="control-label">Nom</label>
            <input type="text" class="form-control"  name="nom" ngModel>
          </div>
          <hr />

          <div class="form-group">
            <label class="control-label">Prenom</label>
            <input type="text" class="form-control"  name="prenom" ngModel>
          </div>
          <hr />
          <div class="form-group">
                        <label class="control-label">Image</label>
              <div>
                <label class="import-file">
                <input type="file" accept="image/*"  name="image"  (change)="showPreview($event)" ngModel>
              <img [src]="imgURL"  height="250px" width="250px" *ngIf="imgURL">
            </label>
          </div>
          </div>
          <hr />
          <div class="form-group">
            <label class="control-label">Nom du mere</label>
            <input type="text" class="form-control"  name="nomMere" ngModel>
          </div>
          <hr />
          <div class="form-group">
            <label class="control-label">Nom du pere</label>
            <input type="text" class="form-control"  name="nomPere" ngModel>
          </div>
          <hr />
          <div class="form-group">
            <label class="control-label">Cin</label>
            <input type="text" class="form-control"  name="cin" ngModel>
          </div>
          <hr />
          <div class="form-group">
            <label class="control-label">Sexe</label><br>
            <select class="search" name="sexe" ngModel >
              <option value="homme">Homme</option>
              <option value="femme">Femme</option>
            </select>
          </div>
          <hr />

          <div class="form-group">
            <label class="control-label">Etat civil</label><br>
            <select class="search" name="etatCivil" ngModel >
              <option value="celibataire">Celibataire</option>
              <option value="marie">Marie</option>
            </select>
          </div>
          <hr />

          <div class="form-group">
            <label class="control-label">Date de naissance</label>
            <input type="date" class="form-control"  name="dateNaissance" ngModel>
          </div>
          <hr />

          <div class="form-group">
            <label class="control-label">Adresse</label>
            <input type="text" class="form-control"  name="adresse" ngModel>
          </div>
          <button type="submit" class="btn btn-success" style="align-content: center;">Ajouter</button>
        </form>
      </div>
    </div>
  </div>
</div>

