<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Liste des personnes</div>


    <div class="panel-body" >
      <div class="search-container">
        <form #f="ngForm" (ngSubmit)="onChercher(f.value)">
          <div class="form-group">
          <input type="number" class="search" placeholder="Id" name="id" ngModel>
        <input type="text" class="date-from" placeholder="Nom" name="nom" ngModel>
        <input type="text" class="date-to" placeholder="Prenom"name="prenom" ngModel>
          <input type="text" class="date-to" placeholder="Cin"name="cin" ngModel>
          <select class="search" name="sexe" ngModel >
            <option value="" selected>Tous</option>
            <option value="homme">Homme</option>
            <option value="femme">Femme</option>
          </select>
          <select class="search" name="etatcivil" ngModel >
            <option value="" selected>Tous</option>
            <option value="celibataire" selected>Celibataire</option>
            <option value="marie">Marie</option>
          </select>
          <button type="submit" class="btn btn-primary">Chercher</button>
            <button routerLink="/ajouterpersonne" class="btn btn-primary">Ajouter</button>
          </div>
        </form>
      </div>
      <table *ngIf="personnes" class="table table-striped table-bordered" >
        <tr>
          <th>ID</th><th>Nom</th><th>Prenom</th><th>Cin</th><th>Sexe</th><th>Etat civil</th><th>Nom du mere</th><th>Nom du pere</th><th>Date de naissance</th><th>Adresse</th><th>Les antecedents</th><th></th><th></th><th></th>
        </tr>
        <tr *ngFor="let p of personnes._embedded.personnes">
          <td>{{p.id}}</td>
          <td>{{p.nom}}</td>
          <td>{{p.prenom}}</td>
          <td>{{p.cin}}</td>
          <td>{{p.sexe}}</td>
          <td>{{p.etatCivil}}</td>
          <td>{{p.nomMere}}</td>
          <td>{{p.nomPere}}</td>
          <td>{{p.dateNaissance}}</td>
          <td>{{p.adresse}}</td>
          <td><a routerLink="/antecedents" [queryParams]="{pid:p.id}">Consulter</a></td>
          <td><a routerLink="/ajouterantecedent" [queryParams]="{pid:p.id}" >Ajouter une antecedent</a></td>
          <td> <a class="btn btn-primary" (click)="onUpdatePersonne(p)">Modifier</a></td>
          <td> <a class="btn btn-danger" (click)="onDeletePersonne(p.id)">Suprrimer</a></td>
        </tr>
      </table>
      <ul *ngIf="pages" class="nav nav-pills">
        <li  [ngClass]="i==currentPage?'active':''" *ngFor="let p of pages;let i=index">
          <a (click)="onPage(i,f.value)">{{i}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
