table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

th {
  background-color: #4287f6;
  color: white;
}

th,
td {
  width: 150px;
  text-align: center;
  border: 1px cadetblue black;
  padding: 2px;
}

h2 {
  color: #4287f5;
}


.zoom:hover {
  transform: scale(4); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.container {
  width: 100%;
  background: #ccc;
  margin: 0 auto;
  padding: 10px;
}

.wrapper {
  margin: 8px 0;
}

.search-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

input {
  min-width: 20px;
  padding: 8px;
  margin: 0 4px 0 0;
  border: 1px solid #666;
  border-radius: 5px;
  height: 30px;
}

.button {
  margin-right: 10px;
  padding: 8px 16px;
  min-height: 48px;
  min-width: 10px;
  word-wrap: nowrap;
  background: #000;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
}

input {
  order: 0;
  align-self: auto;
  margin-right: 10px;
}

.search {
  flex: 1 1 auto;
  margin-right: 10px;

}

.date-from {
  flex: 1 1 auto;
}

.date-to {
  flex: 1 1 auto;
}

.button {
  order: 4;
  flex: 0 1 auto;
  align-self: auto;
  margin-right: 10px;
}

