<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Liste des sanctions</div>
    <div class="panel-body">
      <form #f="ngForm" (ngSubmit)="onChercher(f.value)"  >
        <div class="form-group">
          <input type="number" class="search" placeholder="Id" name="id" ngModel>
          <input type="number" class="date-to" placeholder="Nombre"name="nombre" ngModel>
          <select class="search" name="genre" ngModel >
            <option value="" selected>Tous</option>
            <option value="emprisonnement">Emprisonnement</option>
            <option value="amende">Amende</option>
          </select>
          <button type="submit" class="btn btn-primary">Chercher</button>
        </div>
      </form>
      <table *ngIf="sanctions" class="table table-striped table-bordered">
        <tr>
          <th>ID</th><th>Id d'entecedent</th><th>Genre</th><th>Nombre</th><th></th><th></th>
        </tr>
        <tr *ngFor="let s of sanctions._embedded.sanctions">
          <td>{{s.id}}</td>
          <td><a routerLink="/antecedents" [queryParams]="{aid:s.aid}">Consulter</a></td>
          <td>{{s.genreSanction}}</td>
          <td>{{s.nombre}}</td>
          <td> <a class="btn btn-primary" (click)="onUpdateSanction(s)">Modifier</a></td>
          <td> <a class="btn btn-danger" (click)="onDeleteSanction(s)">Suprrimer</a></td>
        </tr>
      </table>
      <ul *ngIf="pages" class="nav nav-pills">
        <li  [ngClass]="i==currentPage?'active':''" *ngFor="let p of pages;let i=index">
          <a (click)="onPage(i,f.value)">{{i}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
